@font-face{
    font-family: "roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap') format("embedded-opentype");
}

html{
    font-family: "roboto";
}

h1{
    justify-self: center;
    padding: 30px;
}

.header-div{
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.new-button{
    font-size: 1rem;
    border-radius: 6px;
    border-style: none;
    background-color: rgb(255, 164, 45);
    padding: 15px;
    font-weight: 600;
}

.book-form form:first-of-type{
    display: grid;
}

.book-form{
    padding: 40px;
    background-color: rgb(241, 216, 178);
    border-radius: 10px;
    font-weight: 600;
}

.book-form label{
    margin-right: 5px;
    font-size: 1.1rem;
    color: rgb(59, 41, 13);
}

.book-form input{
    align-self: center;
    margin-right: 15px;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(255, 249, 240);
    font-size: 1rem;
    padding: 5px;
}

.book-form button{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 1rem;
    border-radius: 6px;
    border-style: none;
    background-color: rgb(255, 164, 45);
    padding: 10px;
    font-weight: 600;
}

.bottom-div{
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#pages{
    width: 15%;
    margin-right: 155px;
}

#been-read{
    transform: scale(1.5);
}

.book-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(250px,500px));
    padding: 15px;
    gap: 15px;
}

.card{
    padding: 20px;
    background-color: rgb(255, 233, 173);
    border-radius: 20px;
    font-family: "roboto";
    font-size: 24px;
    max-width: 500px;
    max-height: 300px;
}